<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DDWYJJCSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DDWYJJCSJJLB">
    <id column="CKBH" jdbcType="VARCHAR" property="ckbh" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCDBH" jdbcType="VARCHAR" property="jcdbh" />
    <result column="SWDS" jdbcType="NUMERIC" property="swds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from DDWYJJCSJJLB
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DDWYJJCSJJLB">
    insert into DDWYJJCSJJLB (CKBH, JCSJ, GQPBH, 
      JCDBH, SWDS)
    values (#{ckbh,jdbcType=VARCHAR}, #{jcsj,jdbcType=TIMESTAMP}, #{gqpbh,jdbcType=VARCHAR}, 
      #{jcdbh,jdbcType=VARCHAR}, #{swds,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DDWYJJCSJJLB">
    update DDWYJJCSJJLB
    set SWDS = #{swds,jdbcType=NUMERIC}
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select CKBH, JCSJ, GQPBH, JCDBH, SWDS
    from DDWYJJCSJJLB
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CKBH, JCSJ, GQPBH, JCDBH, SWDS
    from DDWYJJCSJJLB
  </select>
</mapper>