<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DZBJJBXXBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DZBJJBXXB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SSSS" jdbcType="VARCHAR" property="ssss" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="PG" jdbcType="NUMERIC" property="pg" />
    <result column="PC" jdbcType="NUMERIC" property="pc" />
    <result column="MJ" jdbcType="NUMERIC" property="mj" />
    <result column="QPLX" jdbcType="VARCHAR" property="qplx" />
    <result column="AQDJ" jdbcType="VARCHAR" property="aqdj" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DZBJJBXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DZBJJBXXB">
    insert into DZBJJBXXB (GQPBH, GQPMC, SSSS, 
      SSQX, PG, PC, MJ, 
      QPLX, AQDJ)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{ssss,jdbcType=VARCHAR}, 
      #{ssqx,jdbcType=VARCHAR}, #{pg,jdbcType=NUMERIC}, #{pc,jdbcType=NUMERIC}, #{mj,jdbcType=NUMERIC}, 
      #{qplx,jdbcType=VARCHAR}, #{aqdj,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.DZBJJBXXB">
    update DZBJJBXXB
    set GQPMC = #{gqpmc,jdbcType=VARCHAR},
      SSSS = #{ssss,jdbcType=VARCHAR},
      SSQX = #{ssqx,jdbcType=VARCHAR},
      PG = #{pg,jdbcType=NUMERIC},
      PC = #{pc,jdbcType=NUMERIC},
      MJ = #{mj,jdbcType=NUMERIC},
      QPLX = #{qplx,jdbcType=VARCHAR},
      AQDJ = #{aqdj,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, PG, PC, MJ, QPLX, AQDJ
    from DZBJJBXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, PG, PC, MJ, QPLX, AQDJ
    from DZBJJBXXB
  </select>
</mapper>