<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.FBSGXJCSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.FBSGXJCSJJLB">
    <id column="JCDBH" jdbcType="VARCHAR" property="jcdbh" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <result column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="CDYL" jdbcType="NUMERIC" property="cdyl" />
    <result column="CDYB" jdbcType="VARCHAR" property="cdyb" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from FBSGXJCSJJLB
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.FBSGXJCSJJLB">
    insert into FBSGXJCSJJLB (JCDBH, JCSJ, GQPBH, 
      CDYL, CDYB)
    values (#{jcdbh,jdbcType=VARCHAR}, #{jcsj,jdbcType=TIMESTAMP}, #{gqpbh,jdbcType=VARCHAR}, 
      #{cdyl,jdbcType=NUMERIC}, #{cdyb,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.FBSGXJCSJJLB">
    update FBSGXJCSJJLB
    set GQPBH = #{gqpbh,jdbcType=VARCHAR},
      CDYL = #{cdyl,jdbcType=NUMERIC},
      CDYB = #{cdyb,jdbcType=VARCHAR}
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select JCDBH, JCSJ, GQPBH, CDYL, CDYB
    from FBSGXJCSJJLB
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select JCDBH, JCSJ, GQPBH, CDYL, CDYB
    from FBSGXJCSJJLB
  </select>
</mapper>