<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPDSJBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPDSJB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="X" jdbcType="VARCHAR" property="x" />
    <result column="Y" jdbcType="VARCHAR" property="y" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GQPDSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPDSJB">
    insert into GQPDSJB (GQPBH, GQPMC, SSQX, 
      X, Y)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{ssqx,jdbcType=VARCHAR}, 
      #{x,jdbcType=VARCHAR}, #{y,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPDSJB">
    update GQPDSJB
    set GQPMC = #{gqpmc,jdbcType=VARCHAR},
      SSQX = #{ssqx,jdbcType=VARCHAR},
      X = #{x,jdbcType=VARCHAR},
      Y = #{y,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSQX, X, Y
    from GQPDSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSQX, X, Y
    from GQPDSJB
  </select>
</mapper>