<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPFHGCCSXXBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPFHGCCSXXB">
    <result column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SSSS" jdbcType="VARCHAR" property="ssss" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="CSLX" jdbcType="VARCHAR" property="cslx" />
    <result column="CSXX" jdbcType="VARCHAR" property="csxx" />
    <result column="SL" jdbcType="VARCHAR" property="sl" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPFHGCCSXXB">
    insert into GQPFHGCCSXXB (GQPBH, GQPMC, SSSS, 
      SSQX, CSLX, CSXX, SL, 
      DW, BZ)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{ssss,jdbcType=VARCHAR}, 
      #{ssqx,jdbcType=VARCHAR}, #{cslx,jdbcType=VARCHAR}, #{csxx,jdbcType=VARCHAR}, #{sl,jdbcType=VARCHAR}, 
      #{dw,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, CSLX, CSXX, SL, DW, BZ
    from GQPFHGCCSXXB
  </select>
</mapper>