<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCXXBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCXXB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="JCR" jdbcType="VARCHAR" property="jcr" />
    <result column="SSSHENG" jdbcType="VARCHAR" property="sssheng" />
    <result column="SSSHI" jdbcType="VARCHAR" property="ssshi" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="JCTP1" jdbcType="VARCHAR" property="jctp1" />
    <result column="JCTP2" jdbcType="VARCHAR" property="jctp2" />
    <result column="JCTP3" jdbcType="VARCHAR" property="jctp3" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPJCXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCXXB">
    insert into GQPJCXXB (GQPBH, JCSJ, GQPMC, 
      JCR, SSSHENG, SSSHI, 
      SSQX, JCTP1, JCTP2, 
      JCTP3)
    values (#{gqpbh,jdbcType=VARCHAR}, #{jcsj,jdbcType=TIMESTAMP}, #{gqpmc,jdbcType=VARCHAR}, 
      #{jcr,jdbcType=VARCHAR}, #{sssheng,jdbcType=VARCHAR}, #{ssshi,jdbcType=VARCHAR}, 
      #{ssqx,jdbcType=VARCHAR}, #{jctp1,jdbcType=VARCHAR}, #{jctp2,jdbcType=VARCHAR}, 
      #{jctp3,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCXXB">
    update GQPJCXXB
    set GQPMC = #{gqpmc,jdbcType=VARCHAR},
      JCR = #{jcr,jdbcType=VARCHAR},
      SSSHENG = #{sssheng,jdbcType=VARCHAR},
      SSSHI = #{ssshi,jdbcType=VARCHAR},
      SSQX = #{ssqx,jdbcType=VARCHAR},
      JCTP1 = #{jctp1,jdbcType=VARCHAR},
      JCTP2 = #{jctp2,jdbcType=VARCHAR},
      JCTP3 = #{jctp3,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, JCSJ, GQPMC, JCR, SSSHENG, SSSHI, SSQX, JCTP1, JCTP2, JCTP3
    from GQPJCXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, JCSJ, GQPMC, JCR, SSSHENG, SSSHI, SSQX, JCTP1, JCTP2, JCTP3
    from GQPJCXXB
  </select>
</mapper>