<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCZLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCZLB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SSSS" jdbcType="VARCHAR" property="ssss" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="ZYJC" jdbcType="VARCHAR" property="zyjc" />
    <result column="XZB" jdbcType="NUMERIC" property="xzb" />
    <result column="YZB" jdbcType="NUMERIC" property="yzb" />
    <result column="GQPBQ" jdbcType="VARCHAR" property="gqpbq" />
    <result column="XMXH" jdbcType="VARCHAR" property="xmxh" />
    <result column="XMFRDW" jdbcType="VARCHAR" property="xmfrdw" />
    <result column="PFWH" jdbcType="VARCHAR" property="pfwh" />
    <result column="JSDD" jdbcType="VARCHAR" property="jsdd" />
    <result column="JHPC" jdbcType="NUMERIC" property="jhpc" />
    <result column="JHPG" jdbcType="NUMERIC" property="jhpg" />
    <result column="JHPMMJ" jdbcType="NUMERIC" property="jhpmmj" />
    <result column="JHPJ" jdbcType="NUMERIC" property="jhpj" />
    <result column="SSPC" jdbcType="NUMERIC" property="sspc" />
    <result column="SSPG" jdbcType="NUMERIC" property="sspg" />
    <result column="SSPJ" jdbcType="NUMERIC" property="sspj" />
    <result column="SSPMJ" jdbcType="NUMERIC" property="sspmj" />
    <result column="JZLX" jdbcType="VARCHAR" property="jzlx" />
    <result column="AQDJ" jdbcType="VARCHAR" property="aqdj" />
    <result column="ZYFHCS" jdbcType="VARCHAR" property="zyfhcs" />
    <result column="SGZTBXS" jdbcType="VARCHAR" property="sgztbxs" />
    <result column="HTGQ" jdbcType="VARCHAR" property="htgq" />
    <result column="KGRQ" jdbcType="TIMESTAMP" property="kgrq" />
    <result column="WGRQ" jdbcType="TIMESTAMP" property="wgrq" />
    <result column="KCDW" jdbcType="VARCHAR" property="kcdw" />
    <result column="SJDW" jdbcType="VARCHAR" property="sjdw" />
    <result column="JLDW" jdbcType="VARCHAR" property="jldw" />
    <result column="SGDW" jdbcType="VARCHAR" property="sgdw" />
    <result column="ZJDW" jdbcType="VARCHAR" property="zjdw" />
    <result column="SJBGYY" jdbcType="VARCHAR" property="sjbgyy" />
    <result column="SJGS" jdbcType="NUMERIC" property="sjgs" />
    <result column="SGTYS" jdbcType="NUMERIC" property="sgtys" />
    <result column="PFTZ" jdbcType="NUMERIC" property="pftz" />
    <result column="GSTZ" jdbcType="NUMERIC" property="gstz" />
    <result column="HTJ" jdbcType="NUMERIC" property="htj" />
    <result column="BCHTJ" jdbcType="NUMERIC" property="bchtj" />
    <result column="GCJS" jdbcType="NUMERIC" property="gcjs" />
    <result column="CWJS" jdbcType="NUMERIC" property="cwjs" />
    <result column="JGYSRQ" jdbcType="TIMESTAMP" property="jgysrq" />
    <result column="JGYSJL" jdbcType="VARCHAR" property="jgysjl" />
    <result column="GJYSRQ" jdbcType="TIMESTAMP" property="gjysrq" />
    <result column="GJYSJL" jdbcType="VARCHAR" property="gjysjl" />
    <result column="JCDWJZZ" jdbcType="VARCHAR" property="jcdwjzz" />
    <result column="JCJL" jdbcType="VARCHAR" property="jcjl" />
    <result column="TBDW" jdbcType="VARCHAR" property="tbdw" />
    <result column="TBR" jdbcType="VARCHAR" property="tbr" />
    <result column="TBRQ" jdbcType="TIMESTAMP" property="tbrq" />
    <result column="GPS" jdbcType="VARCHAR" property="gps" />
    <result column="QZY" jdbcType="VARCHAR" property="qzy" />
    <result column="QTJCFS" jdbcType="VARCHAR" property="qtjcfs" />
    <result column="ZDJC" jdbcType="VARCHAR" property="zdjc" />
    <result column="CDS" jdbcType="VARCHAR" property="cds" />
    <result column="ZYJCZTSJ" jdbcType="TIMESTAMP" property="zyjcztsj" />
    <result column="WDXPJJL" jdbcType="VARCHAR" property="wdxpjjl" />
    <result column="GQPQB" jdbcType="VARCHAR" property="gqpqb" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GQPJCZLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCZLB">
    insert into GQPJCZLB (GQPBH, GQPMC, SSSS, 
      SSQX, ZYJC, XZB, YZB, 
      GQPBQ, XMXH, XMFRDW, 
      PFWH, JSDD, JHPC, JHPG, 
      JHPMMJ, JHPJ, SSPC, 
      SSPG, SSPJ, SSPMJ, 
      JZLX, AQDJ, ZYFHCS, 
      SGZTBXS, HTGQ, KGRQ, 
      WGRQ, KCDW, SJDW, 
      JLDW, SGDW, ZJDW, SJBGYY, 
      SJGS, SGTYS, PFTZ, 
      GSTZ, HTJ, BCHTJ, GCJS, 
      CWJS, JGYSRQ, JGYSJL, 
      GJYSRQ, GJYSJL, JCDWJZZ, 
      JCJL, TBDW, TBR, TBRQ, 
      GPS, QZY, QTJCFS, ZDJC, 
      CDS, ZYJCZTSJ, WDXPJJL, 
      GQPQB)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{ssss,jdbcType=VARCHAR}, 
      #{ssqx,jdbcType=VARCHAR}, #{zyjc,jdbcType=VARCHAR}, #{xzb,jdbcType=NUMERIC}, #{yzb,jdbcType=NUMERIC}, 
      #{gqpbq,jdbcType=VARCHAR}, #{xmxh,jdbcType=VARCHAR}, #{xmfrdw,jdbcType=VARCHAR}, 
      #{pfwh,jdbcType=VARCHAR}, #{jsdd,jdbcType=VARCHAR}, #{jhpc,jdbcType=NUMERIC}, #{jhpg,jdbcType=NUMERIC}, 
      #{jhpmmj,jdbcType=NUMERIC}, #{jhpj,jdbcType=NUMERIC}, #{sspc,jdbcType=NUMERIC}, 
      #{sspg,jdbcType=NUMERIC}, #{sspj,jdbcType=NUMERIC}, #{sspmj,jdbcType=NUMERIC}, 
      #{jzlx,jdbcType=VARCHAR}, #{aqdj,jdbcType=VARCHAR}, #{zyfhcs,jdbcType=VARCHAR}, 
      #{sgztbxs,jdbcType=VARCHAR}, #{htgq,jdbcType=VARCHAR}, #{kgrq,jdbcType=TIMESTAMP}, 
      #{wgrq,jdbcType=TIMESTAMP}, #{kcdw,jdbcType=VARCHAR}, #{sjdw,jdbcType=VARCHAR}, 
      #{jldw,jdbcType=VARCHAR}, #{sgdw,jdbcType=VARCHAR}, #{zjdw,jdbcType=VARCHAR}, #{sjbgyy,jdbcType=VARCHAR}, 
      #{sjgs,jdbcType=NUMERIC}, #{sgtys,jdbcType=NUMERIC}, #{pftz,jdbcType=NUMERIC}, 
      #{gstz,jdbcType=NUMERIC}, #{htj,jdbcType=NUMERIC}, #{bchtj,jdbcType=NUMERIC}, #{gcjs,jdbcType=NUMERIC}, 
      #{cwjs,jdbcType=NUMERIC}, #{jgysrq,jdbcType=TIMESTAMP}, #{jgysjl,jdbcType=VARCHAR}, 
      #{gjysrq,jdbcType=TIMESTAMP}, #{gjysjl,jdbcType=VARCHAR}, #{jcdwjzz,jdbcType=VARCHAR}, 
      #{jcjl,jdbcType=VARCHAR}, #{tbdw,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{tbrq,jdbcType=TIMESTAMP}, 
      #{gps,jdbcType=VARCHAR}, #{qzy,jdbcType=VARCHAR}, #{qtjcfs,jdbcType=VARCHAR}, #{zdjc,jdbcType=VARCHAR}, 
      #{cds,jdbcType=VARCHAR}, #{zyjcztsj,jdbcType=TIMESTAMP}, #{wdxpjjl,jdbcType=VARCHAR}, 
      #{gqpqb,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPJCZLB">
    update GQPJCZLB
    set GQPMC = #{gqpmc,jdbcType=VARCHAR},
      SSSS = #{ssss,jdbcType=VARCHAR},
      SSQX = #{ssqx,jdbcType=VARCHAR},
      ZYJC = #{zyjc,jdbcType=VARCHAR},
      XZB = #{xzb,jdbcType=NUMERIC},
      YZB = #{yzb,jdbcType=NUMERIC},
      GQPBQ = #{gqpbq,jdbcType=VARCHAR},
      XMXH = #{xmxh,jdbcType=VARCHAR},
      XMFRDW = #{xmfrdw,jdbcType=VARCHAR},
      PFWH = #{pfwh,jdbcType=VARCHAR},
      JSDD = #{jsdd,jdbcType=VARCHAR},
      JHPC = #{jhpc,jdbcType=NUMERIC},
      JHPG = #{jhpg,jdbcType=NUMERIC},
      JHPMMJ = #{jhpmmj,jdbcType=NUMERIC},
      JHPJ = #{jhpj,jdbcType=NUMERIC},
      SSPC = #{sspc,jdbcType=NUMERIC},
      SSPG = #{sspg,jdbcType=NUMERIC},
      SSPJ = #{sspj,jdbcType=NUMERIC},
      SSPMJ = #{sspmj,jdbcType=NUMERIC},
      JZLX = #{jzlx,jdbcType=VARCHAR},
      AQDJ = #{aqdj,jdbcType=VARCHAR},
      ZYFHCS = #{zyfhcs,jdbcType=VARCHAR},
      SGZTBXS = #{sgztbxs,jdbcType=VARCHAR},
      HTGQ = #{htgq,jdbcType=VARCHAR},
      KGRQ = #{kgrq,jdbcType=TIMESTAMP},
      WGRQ = #{wgrq,jdbcType=TIMESTAMP},
      KCDW = #{kcdw,jdbcType=VARCHAR},
      SJDW = #{sjdw,jdbcType=VARCHAR},
      JLDW = #{jldw,jdbcType=VARCHAR},
      SGDW = #{sgdw,jdbcType=VARCHAR},
      ZJDW = #{zjdw,jdbcType=VARCHAR},
      SJBGYY = #{sjbgyy,jdbcType=VARCHAR},
      SJGS = #{sjgs,jdbcType=NUMERIC},
      SGTYS = #{sgtys,jdbcType=NUMERIC},
      PFTZ = #{pftz,jdbcType=NUMERIC},
      GSTZ = #{gstz,jdbcType=NUMERIC},
      HTJ = #{htj,jdbcType=NUMERIC},
      BCHTJ = #{bchtj,jdbcType=NUMERIC},
      GCJS = #{gcjs,jdbcType=NUMERIC},
      CWJS = #{cwjs,jdbcType=NUMERIC},
      JGYSRQ = #{jgysrq,jdbcType=TIMESTAMP},
      JGYSJL = #{jgysjl,jdbcType=VARCHAR},
      GJYSRQ = #{gjysrq,jdbcType=TIMESTAMP},
      GJYSJL = #{gjysjl,jdbcType=VARCHAR},
      JCDWJZZ = #{jcdwjzz,jdbcType=VARCHAR},
      JCJL = #{jcjl,jdbcType=VARCHAR},
      TBDW = #{tbdw,jdbcType=VARCHAR},
      TBR = #{tbr,jdbcType=VARCHAR},
      TBRQ = #{tbrq,jdbcType=TIMESTAMP},
      GPS = #{gps,jdbcType=VARCHAR},
      QZY = #{qzy,jdbcType=VARCHAR},
      QTJCFS = #{qtjcfs,jdbcType=VARCHAR},
      ZDJC = #{zdjc,jdbcType=VARCHAR},
      CDS = #{cds,jdbcType=VARCHAR},
      ZYJCZTSJ = #{zyjcztsj,jdbcType=TIMESTAMP},
      WDXPJJL = #{wdxpjjl,jdbcType=VARCHAR},
      GQPQB = #{gqpqb,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, ZYJC, XZB, YZB, GQPBQ, XMXH, XMFRDW, PFWH, JSDD, 
    JHPC, JHPG, JHPMMJ, JHPJ, SSPC, SSPG, SSPJ, SSPMJ, JZLX, AQDJ, ZYFHCS, SGZTBXS, HTGQ, 
    KGRQ, WGRQ, KCDW, SJDW, JLDW, SGDW, ZJDW, SJBGYY, SJGS, SGTYS, PFTZ, GSTZ, HTJ, BCHTJ, 
    GCJS, CWJS, JGYSRQ, JGYSJL, GJYSRQ, GJYSJL, JCDWJZZ, JCJL, TBDW, TBR, TBRQ, GPS, 
    QZY, QTJCFS, ZDJC, CDS, ZYJCZTSJ, WDXPJJL, GQPQB
    from GQPJCZLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, ZYJC, XZB, YZB, GQPBQ, XMXH, XMFRDW, PFWH, JSDD, 
    JHPC, JHPG, JHPMMJ, JHPJ, SSPC, SSPG, SSPJ, SSPMJ, JZLX, AQDJ, ZYFHCS, SGZTBXS, HTGQ, 
    KGRQ, WGRQ, KCDW, SJDW, JLDW, SGDW, ZJDW, SJBGYY, SJGS, SGTYS, PFTZ, GSTZ, HTJ, BCHTJ, 
    GCJS, CWJS, JGYSRQ, JGYSJL, GJYSRQ, GJYSJL, JCDWJZZ, JCJL, TBDW, TBR, TBRQ, GPS, 
    QZY, QTJCFS, ZDJC, CDS, ZYJCZTSJ, WDXPJJL, GQPQB
    from GQPJCZLB
  </select>
</mapper>