<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QXSJBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QXSJB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="NPJQW" jdbcType="VARCHAR" property="npjqw" />
    <result column="JDZGQW" jdbcType="VARCHAR" property="jdzgqw" />
    <result column="JDZDQW" jdbcType="VARCHAR" property="jdzdqw" />
    <result column="XDSD" jdbcType="VARCHAR" property="xdsd" />
    <result column="NJYLZDZ" jdbcType="NUMERIC" property="njylzdz" />
    <result column="NJYLZXZ" jdbcType="NUMERIC" property="njylzxz" />
    <result column="NJYL" jdbcType="VARCHAR" property="njyl" />
    <result column="NPJJYL" jdbcType="VARCHAR" property="npjjyl" />
    <result column="RZDJYL" jdbcType="VARCHAR" property="rzdjyl" />
    <result column="NPJZFL" jdbcType="VARCHAR" property="npjzfl" />
    <result column="FX" jdbcType="VARCHAR" property="fx" />
    <result column="FS" jdbcType="VARCHAR" property="fs" />
    <result column="ZDFS" jdbcType="VARCHAR" property="zdfs" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_QXSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QXSJB">
    insert into GQPTZ_QXSJB (GQPBH, GQPMC, SCSJ, 
      NPJQW, JDZGQW, JDZDQW, 
      XDSD, NJYLZDZ, NJYLZXZ, 
      NJYL, NPJJYL, RZDJYL, 
      NPJZFL, FX, FS, ZDFS
      )
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{scsj,jdbcType=VARCHAR}, 
      #{npjqw,jdbcType=VARCHAR}, #{jdzgqw,jdbcType=VARCHAR}, #{jdzdqw,jdbcType=VARCHAR}, 
      #{xdsd,jdbcType=VARCHAR}, #{njylzdz,jdbcType=NUMERIC}, #{njylzxz,jdbcType=NUMERIC}, 
      #{njyl,jdbcType=VARCHAR}, #{npjjyl,jdbcType=VARCHAR}, #{rzdjyl,jdbcType=VARCHAR}, 
      #{npjzfl,jdbcType=VARCHAR}, #{fx,jdbcType=VARCHAR}, #{fs,jdbcType=VARCHAR}, #{zdfs,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QXSJB">
    update GQPTZ_QXSJB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      NPJQW = #{npjqw,jdbcType=VARCHAR},
      JDZGQW = #{jdzgqw,jdbcType=VARCHAR},
      JDZDQW = #{jdzdqw,jdbcType=VARCHAR},
      XDSD = #{xdsd,jdbcType=VARCHAR},
      NJYLZDZ = #{njylzdz,jdbcType=NUMERIC},
      NJYLZXZ = #{njylzxz,jdbcType=NUMERIC},
      NJYL = #{njyl,jdbcType=VARCHAR},
      NPJJYL = #{npjjyl,jdbcType=VARCHAR},
      RZDJYL = #{rzdjyl,jdbcType=VARCHAR},
      NPJZFL = #{npjzfl,jdbcType=VARCHAR},
      FX = #{fx,jdbcType=VARCHAR},
      FS = #{fs,jdbcType=VARCHAR},
      ZDFS = #{zdfs,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, NPJQW, JDZGQW, JDZDQW, XDSD, NJYLZDZ, NJYLZXZ, NJYL, NPJJYL, 
    RZDJYL, NPJZFL, FX, FS, ZDFS
    from GQPTZ_QXSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, NPJQW, JDZGQW, JDZDQW, XDSD, NJYLZDZ, NJYLZXZ, NJYL, NPJJYL, 
    RZDJYL, NPJZFL, FX, FS, ZDFS
    from GQPTZ_QXSJB
  </select>
</mapper>