<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_GQPJBXXBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_GQPJBXXB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="WZ" jdbcType="VARCHAR" property="wz" />
    <result column="JDZB" jdbcType="VARCHAR" property="jdzb" />
    <result column="WDZB" jdbcType="VARCHAR" property="wdzb" />
    <result column="BPLX" jdbcType="VARCHAR" property="bplx" />
    <result column="JZLC" jdbcType="VARCHAR" property="jzlc" />
    <result column="PC" jdbcType="VARCHAR" property="pc" />
    <result column="PJPG" jdbcType="VARCHAR" property="pjpg" />
    <result column="ZDPG" jdbcType="VARCHAR" property="zdpg" />
    <result column="PJPJ" jdbcType="VARCHAR" property="pjpj" />
    <result column="ZDPJ" jdbcType="VARCHAR" property="zdpj" />
    <result column="ZX" jdbcType="VARCHAR" property="zx" />
    <result column="QX" jdbcType="VARCHAR" property="qx" />
    <result column="ZYCF" jdbcType="VARCHAR" property="zycf" />
    <result column="PMMJ" jdbcType="NUMERIC" property="pmmj" />
    <result column="PJGC" jdbcType="VARCHAR" property="pjgc" />
    <result column="PDGC" jdbcType="VARCHAR" property="pdgc" />
    <result column="DZLD" jdbcType="VARCHAR" property="dzld" />
    <result column="RLGCHD" jdbcType="VARCHAR" property="rlgchd" />
    <result column="YTJGLX" jdbcType="VARCHAR" property="ytjglx" />
    <result column="LXTCW" jdbcType="VARCHAR" property="lxtcw" />
    <result column="PX" jdbcType="VARCHAR" property="px" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_GQPJBXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_GQPJBXXB">
    insert into GQPTZ_GQPJBXXB (GQPBH, GQPMC, SCSJ, 
      WZ, JDZB, WDZB, BPLX, 
      JZLC, PC, PJPG, ZDPG, 
      PJPJ, ZDPJ, ZX, QX, 
      ZYCF, PMMJ, PJGC, PDGC, 
      DZLD, RLGCHD, YTJGLX, 
      LXTCW, PX)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{scsj,jdbcType=VARCHAR}, 
      #{wz,jdbcType=VARCHAR}, #{jdzb,jdbcType=VARCHAR}, #{wdzb,jdbcType=VARCHAR}, #{bplx,jdbcType=VARCHAR}, 
      #{jzlc,jdbcType=VARCHAR}, #{pc,jdbcType=VARCHAR}, #{pjpg,jdbcType=VARCHAR}, #{zdpg,jdbcType=VARCHAR}, 
      #{pjpj,jdbcType=VARCHAR}, #{zdpj,jdbcType=VARCHAR}, #{zx,jdbcType=VARCHAR}, #{qx,jdbcType=VARCHAR}, 
      #{zycf,jdbcType=VARCHAR}, #{pmmj,jdbcType=NUMERIC}, #{pjgc,jdbcType=VARCHAR}, #{pdgc,jdbcType=VARCHAR}, 
      #{dzld,jdbcType=VARCHAR}, #{rlgchd,jdbcType=VARCHAR}, #{ytjglx,jdbcType=VARCHAR}, 
      #{lxtcw,jdbcType=VARCHAR}, #{px,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_GQPJBXXB">
    update GQPTZ_GQPJBXXB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      WZ = #{wz,jdbcType=VARCHAR},
      JDZB = #{jdzb,jdbcType=VARCHAR},
      WDZB = #{wdzb,jdbcType=VARCHAR},
      BPLX = #{bplx,jdbcType=VARCHAR},
      JZLC = #{jzlc,jdbcType=VARCHAR},
      PC = #{pc,jdbcType=VARCHAR},
      PJPG = #{pjpg,jdbcType=VARCHAR},
      ZDPG = #{zdpg,jdbcType=VARCHAR},
      PJPJ = #{pjpj,jdbcType=VARCHAR},
      ZDPJ = #{zdpj,jdbcType=VARCHAR},
      ZX = #{zx,jdbcType=VARCHAR},
      QX = #{qx,jdbcType=VARCHAR},
      ZYCF = #{zycf,jdbcType=VARCHAR},
      PMMJ = #{pmmj,jdbcType=NUMERIC},
      PJGC = #{pjgc,jdbcType=VARCHAR},
      PDGC = #{pdgc,jdbcType=VARCHAR},
      DZLD = #{dzld,jdbcType=VARCHAR},
      RLGCHD = #{rlgchd,jdbcType=VARCHAR},
      YTJGLX = #{ytjglx,jdbcType=VARCHAR},
      LXTCW = #{lxtcw,jdbcType=VARCHAR},
      PX = #{px,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, WZ, JDZB, WDZB, BPLX, JZLC, PC, PJPG, ZDPG, PJPJ, ZDPJ, 
    ZX, QX, ZYCF, PMMJ, PJGC, PDGC, DZLD, RLGCHD, YTJGLX, LXTCW, PX
    from GQPTZ_GQPJBXXB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, WZ, JDZB, WDZB, BPLX, JZLC, PC, PJPG, ZDPG, PJPJ, ZDPJ, 
    ZX, QX, ZYCF, PMMJ, PJGC, PDGC, DZLD, RLGCHD, YTJGLX, LXTCW, PX
    from GQPTZ_GQPJBXXB
  </select>
</mapper>