<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QCQFSJZHBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QCQFSJZHB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <id column="XCRQ" jdbcType="VARCHAR" property="xcrq" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="SFBX" jdbcType="VARCHAR" property="sfbx" />
    <result column="PSSFZC" jdbcType="VARCHAR" property="pssfzc" />
    <result column="FHCSSFZC" jdbcType="VARCHAR" property="fhcssfzc" />
    <result column="SFCZRGPH" jdbcType="VARCHAR" property="sfczrgph" />
    <result column="SFYC" jdbcType="VARCHAR" property="sfyc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_QCQFSJZHB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
      and XCRQ = #{xcrq,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QCQFSJZHB">
    insert into GQPTZ_QCQFSJZHB (GQPBH, GQPMC, XCRQ, 
      SCSJ, SFBX, PSSFZC, 
      FHCSSFZC, SFCZRGPH, SFYC
      )
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{xcrq,jdbcType=VARCHAR}, 
      #{scsj,jdbcType=VARCHAR}, #{sfbx,jdbcType=VARCHAR}, #{pssfzc,jdbcType=VARCHAR}, 
      #{fhcssfzc,jdbcType=VARCHAR}, #{sfczrgph,jdbcType=VARCHAR}, #{sfyc,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_QCQFSJZHB">
    update GQPTZ_QCQFSJZHB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      SFBX = #{sfbx,jdbcType=VARCHAR},
      PSSFZC = #{pssfzc,jdbcType=VARCHAR},
      FHCSSFZC = #{fhcssfzc,jdbcType=VARCHAR},
      SFCZRGPH = #{sfczrgph,jdbcType=VARCHAR},
      SFYC = #{sfyc,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
      and XCRQ = #{xcrq,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, GQPMC, XCRQ, SCSJ, SFBX, PSSFZC, FHCSSFZC, SFCZRGPH, SFYC
    from GQPTZ_QCQFSJZHB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
      and XCRQ = #{xcrq,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, XCRQ, SCSJ, SFBX, PSSFZC, FHCSSFZC, SFCZRGPH, SFYC
    from GQPTZ_QCQFSJZHB
  </select>
</mapper>