<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_YCSJBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_YCSJB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="YWDC" jdbcType="VARCHAR" property="ywdc" />
    <result column="YWLX" jdbcType="VARCHAR" property="ywlx" />
    <result column="YCQX" jdbcType="VARCHAR" property="ycqx" />
    <result column="YCQJ" jdbcType="VARCHAR" property="ycqj" />
    <result column="PSCD" jdbcType="VARCHAR" property="pscd" />
    <result column="ZTFHCD" jdbcType="VARCHAR" property="ztfhcd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_YCSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_YCSJB">
    insert into GQPTZ_YCSJB (GQPBH, GQPMC, SCSJ, 
      YWDC, YWLX, YCQX, YCQJ, 
      PSCD, ZTFHCD)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{scsj,jdbcType=VARCHAR}, 
      #{ywdc,jdbcType=VARCHAR}, #{ywlx,jdbcType=VARCHAR}, #{ycqx,jdbcType=VARCHAR}, #{ycqj,jdbcType=VARCHAR}, 
      #{pscd,jdbcType=VARCHAR}, #{ztfhcd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_YCSJB">
    update GQPTZ_YCSJB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      YWDC = #{ywdc,jdbcType=VARCHAR},
      YWLX = #{ywlx,jdbcType=VARCHAR},
      YCQX = #{ycqx,jdbcType=VARCHAR},
      YCQJ = #{ycqj,jdbcType=VARCHAR},
      PSCD = #{pscd,jdbcType=VARCHAR},
      ZTFHCD = #{ztfhcd,jdbcType=VARCHAR}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, YWDC, YWLX, YCQX, YCQJ, PSCD, ZTFHCD
    from GQPTZ_YCSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, YWDC, YWLX, YCQX, YCQJ, PSCD, ZTFHCD
    from GQPTZ_YCSJB
  </select>
</mapper>