<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_ZYJCSJBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_ZYJCSJB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCDBH" jdbcType="VARCHAR" property="jcdbh" />
    <id column="JCSJ" jdbcType="VARCHAR" property="jcsj" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="GCZX" jdbcType="NUMERIC" property="gczx" />
    <result column="GCZY" jdbcType="NUMERIC" property="gczy" />
    <result column="GCZH" jdbcType="NUMERIC" property="gczh" />
    <result column="BQXWY" jdbcType="NUMERIC" property="bqxwy" />
    <result column="BQYWY" jdbcType="NUMERIC" property="bqywy" />
    <result column="BQHWY" jdbcType="NUMERIC" property="bqhwy" />
    <result column="BQXFXWY" jdbcType="NUMERIC" property="bqxfxwy" />
    <result column="BQYFXWY" jdbcType="NUMERIC" property="bqyfxwy" />
    <result column="BQHFXWY" jdbcType="NUMERIC" property="bqhfxwy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_ZYJCSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_ZYJCSJB">
    insert into GQPTZ_ZYJCSJB (GQPBH, JCDBH, JCSJ, 
      SCSJ, GCZX, GCZY, GCZH, 
      BQXWY, BQYWY, BQHWY, 
      BQXFXWY, BQYFXWY, BQHFXWY
      )
    values (#{gqpbh,jdbcType=VARCHAR}, #{jcdbh,jdbcType=VARCHAR}, #{jcsj,jdbcType=VARCHAR}, 
      #{scsj,jdbcType=VARCHAR}, #{gczx,jdbcType=NUMERIC}, #{gczy,jdbcType=NUMERIC}, #{gczh,jdbcType=NUMERIC}, 
      #{bqxwy,jdbcType=NUMERIC}, #{bqywy,jdbcType=NUMERIC}, #{bqhwy,jdbcType=NUMERIC}, 
      #{bqxfxwy,jdbcType=NUMERIC}, #{bqyfxwy,jdbcType=NUMERIC}, #{bqhfxwy,jdbcType=NUMERIC}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_ZYJCSJB">
    update GQPTZ_ZYJCSJB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      GCZX = #{gczx,jdbcType=NUMERIC},
      GCZY = #{gczy,jdbcType=NUMERIC},
      GCZH = #{gczh,jdbcType=NUMERIC},
      BQXWY = #{bqxwy,jdbcType=NUMERIC},
      BQYWY = #{bqywy,jdbcType=NUMERIC},
      BQHWY = #{bqhwy,jdbcType=NUMERIC},
      BQXFXWY = #{bqxfxwy,jdbcType=NUMERIC},
      BQYFXWY = #{bqyfxwy,jdbcType=NUMERIC},
      BQHFXWY = #{bqhfxwy,jdbcType=NUMERIC}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, JCDBH, JCSJ, SCSJ, GCZX, GCZY, GCZH, BQXWY, BQYWY, BQHWY, BQXFXWY, 
    BQYFXWY, BQHFXWY
    from GQPTZ_ZYJCSJB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, JCDBH, JCSJ, SCSJ, GCZX, GCZY, GCZH, BQXWY, BQYWY, BQHWY, BQXFXWY, 
    BQYFXWY, BQHFXWY
    from GQPTZ_ZYJCSJB
  </select>
</mapper>