<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_WLXCSBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_WLXCSB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
    <result column="HSL" jdbcType="VARCHAR" property="hsl" />
    <result column="TRMD" jdbcType="VARCHAR" property="trmd" />
    <result column="ZJL" jdbcType="VARCHAR" property="zjl" />
    <result column="NMCJ" jdbcType="VARCHAR" property="nmcj" />
    <result column="BXML" jdbcType="VARCHAR" property="bxml" />
    <result column="BSB" jdbcType="VARCHAR" property="bsb" />
    <result column="DJCZLBZZ" jdbcType="NUMERIC" property="djczlbzz" />
    <result column="ZD" jdbcType="NUMERIC" property="zd" />
    <result column="YSML" jdbcType="VARCHAR" property="ysml" />
    <result column="KYQD" jdbcType="VARCHAR" property="kyqd" />
    <result column="STXS" jdbcType="NUMERIC" property="stxs" />
    <result column="JDMCXS" jdbcType="NUMERIC" property="jdmcxs" />
    <result column="RHXS" jdbcType="NUMERIC" property="rhxs" />
    <result column="JGMNJL" jdbcType="NUMERIC" property="jgmnjl" />
    <result column="JGMNMCJ" jdbcType="NUMERIC" property="jgmnmcj" />
    <result column="CMNJL" jdbcType="NUMERIC" property="cmnjl" />
    <result column="CMNMCJ" jdbcType="NUMERIC" property="cmnmcj" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from GQPTZ_WLXCSB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_WLXCSB">
    insert into GQPTZ_WLXCSB (GQPBH, GQPMC, SCSJ, 
      HSL, TRMD, ZJL, NMCJ, 
      BXML, BSB, DJCZLBZZ, 
      ZD, YSML, KYQD, STXS, 
      JDMCXS, RHXS, JGMNJL, 
      JGMNMCJ, CMNJL, CMNMCJ
      )
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{scsj,jdbcType=VARCHAR}, 
      #{hsl,jdbcType=VARCHAR}, #{trmd,jdbcType=VARCHAR}, #{zjl,jdbcType=VARCHAR}, #{nmcj,jdbcType=VARCHAR}, 
      #{bxml,jdbcType=VARCHAR}, #{bsb,jdbcType=VARCHAR}, #{djczlbzz,jdbcType=NUMERIC}, 
      #{zd,jdbcType=NUMERIC}, #{ysml,jdbcType=VARCHAR}, #{kyqd,jdbcType=VARCHAR}, #{stxs,jdbcType=NUMERIC}, 
      #{jdmcxs,jdbcType=NUMERIC}, #{rhxs,jdbcType=NUMERIC}, #{jgmnjl,jdbcType=NUMERIC}, 
      #{jgmnmcj,jdbcType=NUMERIC}, #{cmnjl,jdbcType=NUMERIC}, #{cmnmcj,jdbcType=NUMERIC}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPTZ_WLXCSB">
    update GQPTZ_WLXCSB
    set SCSJ = #{scsj,jdbcType=VARCHAR},
      HSL = #{hsl,jdbcType=VARCHAR},
      TRMD = #{trmd,jdbcType=VARCHAR},
      ZJL = #{zjl,jdbcType=VARCHAR},
      NMCJ = #{nmcj,jdbcType=VARCHAR},
      BXML = #{bxml,jdbcType=VARCHAR},
      BSB = #{bsb,jdbcType=VARCHAR},
      DJCZLBZZ = #{djczlbzz,jdbcType=NUMERIC},
      ZD = #{zd,jdbcType=NUMERIC},
      YSML = #{ysml,jdbcType=VARCHAR},
      KYQD = #{kyqd,jdbcType=VARCHAR},
      STXS = #{stxs,jdbcType=NUMERIC},
      JDMCXS = #{jdmcxs,jdbcType=NUMERIC},
      RHXS = #{rhxs,jdbcType=NUMERIC},
      JGMNJL = #{jgmnjl,jdbcType=NUMERIC},
      JGMNMCJ = #{jgmnmcj,jdbcType=NUMERIC},
      CMNJL = #{cmnjl,jdbcType=NUMERIC},
      CMNMCJ = #{cmnmcj,jdbcType=NUMERIC}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, HSL, TRMD, ZJL, NMCJ, BXML, BSB, DJCZLBZZ, ZD, YSML, KYQD, 
    STXS, JDMCXS, RHXS, JGMNJL, JGMNMCJ, CMNJL, CMNMCJ
    from GQPTZ_WLXCSB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and GQPMC = #{gqpmc,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SCSJ, HSL, TRMD, ZJL, NMCJ, BXML, BSB, DJCZLBZZ, ZD, YSML, KYQD, 
    STXS, JDMCXS, RHXS, JGMNJL, JGMNMCJ, CMNJL, CMNMCJ
    from GQPTZ_WLXCSB
  </select>
</mapper>