<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPYXSJBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPYXSJB">
    <result column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="SSSS" jdbcType="VARCHAR" property="ssss" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="YXMC" jdbcType="VARCHAR" property="yxmc" />
    <result column="FHZT" jdbcType="VARCHAR" property="fhzt" />
    <result column="TRRL" jdbcType="NUMERIC" property="trrl" />
    <result column="LYQD" jdbcType="VARCHAR" property="lyqd" />
    <result column="BXML" jdbcType="NUMERIC" property="bxml" />
    <result column="CZLBZ" jdbcType="VARCHAR" property="czlbz" />
    <result column="KJQDCSC" jdbcType="NUMERIC" property="kjqdcsc" />
    <result column="KJQDCSPHI" jdbcType="NUMERIC" property="kjqdcsphi" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.GQPYXSJB">
    insert into GQPYXSJB (GQPBH, GQPMC, SSSS, 
      SSQX, YXMC, FHZT, TRRL, 
      LYQD, BXML, CZLBZ, 
      KJQDCSC, KJQDCSPHI)
    values (#{gqpbh,jdbcType=VARCHAR}, #{gqpmc,jdbcType=VARCHAR}, #{ssss,jdbcType=VARCHAR}, 
      #{ssqx,jdbcType=VARCHAR}, #{yxmc,jdbcType=VARCHAR}, #{fhzt,jdbcType=VARCHAR}, #{trrl,jdbcType=NUMERIC}, 
      #{lyqd,jdbcType=VARCHAR}, #{bxml,jdbcType=NUMERIC}, #{czlbz,jdbcType=VARCHAR}, 
      #{kjqdcsc,jdbcType=NUMERIC}, #{kjqdcsphi,jdbcType=NUMERIC})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, GQPMC, SSSS, SSQX, YXMC, FHZT, TRRL, LYQD, BXML, CZLBZ, KJQDCSC, KJQDCSPHI
    from GQPYXSJB
  </select>
</mapper>