<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.MGYBJJCSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.MGYBJJCSJJLB">
    <id column="CKBH" jdbcType="VARCHAR" property="ckbh" />
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCDBH" jdbcType="VARCHAR" property="jcdbh" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <result column="YBDS" jdbcType="NUMERIC" property="ybds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from MGYBJJCSJJLB
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.MGYBJJCSJJLB">
    insert into MGYBJJCSJJLB (CKBH, GQPBH, JCDBH, 
      JCSJ, YBDS)
    values (#{ckbh,jdbcType=VARCHAR}, #{gqpbh,jdbcType=VARCHAR}, #{jcdbh,jdbcType=VARCHAR}, 
      #{jcsj,jdbcType=TIMESTAMP}, #{ybds,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.MGYBJJCSJJLB">
    update MGYBJJCSJJLB
    set YBDS = #{ybds,jdbcType=NUMERIC}
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select CKBH, GQPBH, JCDBH, JCSJ, YBDS
    from MGYBJJCSJJLB
    where CKBH = #{ckbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CKBH, GQPBH, JCDBH, JCSJ, YBDS
    from MGYBJJCSJJLB
  </select>
</mapper>