<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.QCQFJCXXBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.QCQFJCXXB">
    <id column="JCDBH" jdbcType="VARCHAR" property="jcdbh" />
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCRQ" jdbcType="TIMESTAMP" property="jcrq" />
    <result column="GQPMC" jdbcType="VARCHAR" property="gqpmc" />
    <result column="JCYQ" jdbcType="VARCHAR" property="jcyq" />
    <result column="JCR" jdbcType="VARCHAR" property="jcr" />
    <result column="LFBH" jdbcType="NUMERIC" property="lfbh" />
    <result column="WZ" jdbcType="VARCHAR" property="wz" />
    <result column="C" jdbcType="NUMERIC" property="c" />
    <result column="K" jdbcType="NUMERIC" property="k" />
    <result column="XC" jdbcType="NUMERIC" property="xc" />
    <result column="DSSZ" jdbcType="NUMERIC" property="dssz" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from QCQFJCXXB
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCRQ = #{jcrq,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.QCQFJCXXB">
    insert into QCQFJCXXB (JCDBH, GQPBH, JCRQ, 
      GQPMC, JCYQ, JCR, LFBH, 
      WZ, C, K, XC, 
      DSSZ, BZ)
    values (#{jcdbh,jdbcType=VARCHAR}, #{gqpbh,jdbcType=VARCHAR}, #{jcrq,jdbcType=TIMESTAMP}, 
      #{gqpmc,jdbcType=VARCHAR}, #{jcyq,jdbcType=VARCHAR}, #{jcr,jdbcType=VARCHAR}, #{lfbh,jdbcType=NUMERIC}, 
      #{wz,jdbcType=VARCHAR}, #{c,jdbcType=NUMERIC}, #{k,jdbcType=NUMERIC}, #{xc,jdbcType=NUMERIC}, 
      #{dssz,jdbcType=NUMERIC}, #{bz,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.QCQFJCXXB">
    update QCQFJCXXB
    set GQPMC = #{gqpmc,jdbcType=VARCHAR},
      JCYQ = #{jcyq,jdbcType=VARCHAR},
      JCR = #{jcr,jdbcType=VARCHAR},
      LFBH = #{lfbh,jdbcType=NUMERIC},
      WZ = #{wz,jdbcType=VARCHAR},
      C = #{c,jdbcType=NUMERIC},
      K = #{k,jdbcType=NUMERIC},
      XC = #{xc,jdbcType=NUMERIC},
      DSSZ = #{dssz,jdbcType=NUMERIC},
      BZ = #{bz,jdbcType=VARCHAR}
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCRQ = #{jcrq,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select JCDBH, GQPBH, JCRQ, GQPMC, JCYQ, JCR, LFBH, WZ, C, K, XC, DSSZ, BZ
    from QCQFJCXXB
    where JCDBH = #{jcdbh,jdbcType=VARCHAR}
      and GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCRQ = #{jcrq,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select JCDBH, GQPBH, JCRQ, GQPMC, JCYQ, JCR, LFBH, WZ, C, K, XC, DSSZ, BZ
    from QCQFJCXXB
  </select>
</mapper>