<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.SFSJCSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.SFSJCSJJLB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <result column="KWMC" jdbcType="VARCHAR" property="kwmc" />
    <result column="DSJ" jdbcType="NUMERIC" property="dsj" />
    <result column="ZSJ" jdbcType="NUMERIC" property="zsj" />
    <result column="NL" jdbcType="NUMERIC" property="nl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from SFSJCSJJLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.SFSJCSJJLB">
    insert into SFSJCSJJLB (GQPBH, JCSJ, KWMC, 
      DSJ, ZSJ, NL)
    values (#{gqpbh,jdbcType=VARCHAR}, #{jcsj,jdbcType=TIMESTAMP}, #{kwmc,jdbcType=VARCHAR}, 
      #{dsj,jdbcType=NUMERIC}, #{zsj,jdbcType=NUMERIC}, #{nl,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.SFSJCSJJLB">
    update SFSJCSJJLB
    set KWMC = #{kwmc,jdbcType=VARCHAR},
      DSJ = #{dsj,jdbcType=NUMERIC},
      ZSJ = #{zsj,jdbcType=NUMERIC},
      NL = #{nl,jdbcType=NUMERIC}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, JCSJ, KWMC, DSJ, ZSJ, NL
    from SFSJCSJJLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, JCSJ, KWMC, DSJ, ZSJ, NL
    from SFSJCSJJLB
  </select>
</mapper>