<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_LOGINMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_LOGIN">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="LTIME" jdbcType="TIMESTAMP" property="ltime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_LOGIN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_LOGIN">
    insert into T_LOGIN (ID, UUID, LTIME
      )
    values (#{id,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{ltime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_LOGIN">
    update T_LOGIN
    set UUID = #{uuid,jdbcType=VARCHAR},
      LTIME = #{ltime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, UUID, LTIME
    from T_LOGIN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, UUID, LTIME
    from T_LOGIN
  </select>
</mapper>