<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_RESERVOIR_WATER_LEVELMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_RESERVOIR_WATER_LEVEL">
    <result column="GZZM" jdbcType="VARCHAR" property="gzzm" />
    <result column="SCSJ" jdbcType="TIMESTAMP" property="scsj" />
    <result column="SKSW" jdbcType="NUMERIC" property="sksw" />
    <result column="RKLL" jdbcType="NUMERIC" property="rkll" />
    <result column="CKLL" jdbcType="NUMERIC" property="ckll" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_RESERVOIR_WATER_LEVEL">
    insert into T_RESERVOIR_WATER_LEVEL (GZZM, SCSJ, SKSW, 
      RKLL, CKLL)
    values (#{gzzm,jdbcType=VARCHAR}, #{scsj,jdbcType=TIMESTAMP}, #{sksw,jdbcType=NUMERIC}, 
      #{rkll,jdbcType=NUMERIC}, #{ckll,jdbcType=NUMERIC})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select GZZM, SCSJ, SKSW, RKLL, CKLL
    from T_RESERVOIR_WATER_LEVEL
  </select>
</mapper>