<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_USER_ROLEMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_USER_ROLE">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="RID" jdbcType="VARCHAR" property="rid" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_USER_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_USER_ROLE">
    insert into T_USER_ROLE (ID, UUID, RID, 
      DESCRIPTION)
    values (#{id,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.T_USER_ROLE">
    update T_USER_ROLE
    set UUID = #{uuid,jdbcType=VARCHAR},
      RID = #{rid,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, UUID, RID, DESCRIPTION
    from T_USER_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, UUID, RID, DESCRIPTION
    from T_USER_ROLE
  </select>
</mapper>