<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.WDSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.WDSJJLB">
    <id column="WDBH" jdbcType="NUMERIC" property="wdbh" />
    <result column="WDBB" jdbcType="NUMERIC" property="wdbb" />
    <result column="WDBT" jdbcType="VARCHAR" property="wdbt" />
    <result column="GJZ" jdbcType="VARCHAR" property="gjz" />
    <result column="WDZY" jdbcType="VARCHAR" property="wdzy" />
    <result column="WDWZ" jdbcType="NUMERIC" property="wdwz" />
    <result column="WDLX" jdbcType="VARCHAR" property="wdlx" />
    <result column="WDZZ" jdbcType="VARCHAR" property="wdzz" />
    <result column="ZZDW" jdbcType="VARCHAR" property="zzdw" />
    <result column="ZYWZ" jdbcType="VARCHAR" property="zywz" />
    <result column="TJSJ" jdbcType="TIMESTAMP" property="tjsj" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="WDNR" jdbcType="CLOB" property="wdnr" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from WDSJJLB
    where WDBH = #{wdbh,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.WDSJJLB">
    insert into WDSJJLB (WDBH, WDBB, WDBT, 
      GJZ, WDZY, WDWZ, WDLX, 
      WDZZ, ZZDW, ZYWZ, TJSJ, 
      XGSJ, WDNR)
    values (#{wdbh,jdbcType=NUMERIC}, #{wdbb,jdbcType=NUMERIC}, #{wdbt,jdbcType=VARCHAR}, 
      #{gjz,jdbcType=VARCHAR}, #{wdzy,jdbcType=VARCHAR}, #{wdwz,jdbcType=NUMERIC}, #{wdlx,jdbcType=VARCHAR}, 
      #{wdzz,jdbcType=VARCHAR}, #{zzdw,jdbcType=VARCHAR}, #{zywz,jdbcType=VARCHAR}, #{tjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{wdnr,jdbcType=CLOB})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.WDSJJLB">
    update WDSJJLB
    set WDBB = #{wdbb,jdbcType=NUMERIC},
      WDBT = #{wdbt,jdbcType=VARCHAR},
      GJZ = #{gjz,jdbcType=VARCHAR},
      WDZY = #{wdzy,jdbcType=VARCHAR},
      WDWZ = #{wdwz,jdbcType=NUMERIC},
      WDLX = #{wdlx,jdbcType=VARCHAR},
      WDZZ = #{wdzz,jdbcType=VARCHAR},
      ZZDW = #{zzdw,jdbcType=VARCHAR},
      ZYWZ = #{zywz,jdbcType=VARCHAR},
      TJSJ = #{tjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      WDNR = #{wdnr,jdbcType=CLOB}
    where WDBH = #{wdbh,jdbcType=NUMERIC}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select WDBH, WDBB, WDBT, GJZ, WDZY, WDWZ, WDLX, WDZZ, ZZDW, ZYWZ, TJSJ, XGSJ, WDNR
    from WDSJJLB
    where WDBH = #{wdbh,jdbcType=NUMERIC}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WDBH, WDBB, WDBT, GJZ, WDZY, WDWZ, WDLX, WDZZ, ZZDW, ZYWZ, TJSJ, XGSJ, WDNR
    from WDSJJLB
  </select>
</mapper>