<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cug.cs.gtl.mybatis.mapper.generate.ZKQXYJCSJJLBMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cug.cs.gtl.mybatis.mapper.generate.ZKQXYJCSJJLB">
    <id column="GQPBH" jdbcType="VARCHAR" property="gqpbh" />
    <id column="KWMC" jdbcType="VARCHAR" property="kwmc" />
    <id column="JCSJ" jdbcType="TIMESTAMP" property="jcsj" />
    <result column="CDSD" jdbcType="NUMERIC" property="cdsd" />
    <result column="JCJG" jdbcType="NUMERIC" property="jcjg" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from ZKQXYJCSJJLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and KWMC = #{kwmc,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.ZKQXYJCSJJLB">
    insert into ZKQXYJCSJJLB (GQPBH, KWMC, JCSJ, 
      CDSD, JCJG)
    values (#{gqpbh,jdbcType=VARCHAR}, #{kwmc,jdbcType=VARCHAR}, #{jcsj,jdbcType=TIMESTAMP}, 
      #{cdsd,jdbcType=NUMERIC}, #{jcjg,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cug.cs.gtl.mybatis.mapper.generate.ZKQXYJCSJJLB">
    update ZKQXYJCSJJLB
    set CDSD = #{cdsd,jdbcType=NUMERIC},
      JCJG = #{jcjg,jdbcType=NUMERIC}
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and KWMC = #{kwmc,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select GQPBH, KWMC, JCSJ, CDSD, JCJG
    from ZKQXYJCSJJLB
    where GQPBH = #{gqpbh,jdbcType=VARCHAR}
      and KWMC = #{kwmc,jdbcType=VARCHAR}
      and JCSJ = #{jcsj,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GQPBH, KWMC, JCSJ, CDSD, JCJG
    from ZKQXYJCSJJLB
  </select>
</mapper>